{
    "trailingComma": "es5",
    "tabWidth": 4,
    "printWidth": 120,
    "requirePragma": false,
    "useTabs": false,
    "singleQuote": false,
    "semi": true,
    "arrowParens": "avoid",
    "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-php"],
    "overrides": [
        {
            "files": ["*.php", "*.phtml"],
            "options": {
                "parser": "php",
                "phpVersion": "8.2",
                "tabWidth": 2,
                "printWidth": 120
            }
        }
    ]
}
